<%- include ../partials/header.ejs %>
<h1>New Article</h1>

<form action="/articles" method="post">
	<input type="text" name="article[title]" placeholder="Article title">
	<input type="text" name="article[author]" placeholder="Article author">
	<textarea name="article[desc]" placeholder="Article Description"></textarea>

	<input type="submit" value="Add article">
</form>
<%- include ../partials/footer.ejs %>