<h1>New Article</h1>

<form action="/articles">
	<input type="text" name="article[title]" placeholder="Article title">
	<input type="text" name="article[author]" placeholder="Article author">
	<textarea name="article[desc]" placeholder="Article Description"></textarea>

	<input type="submit" value="Add article">
</form>