body {
			margin: 0;
			padding: 0;
			font-family: sans-serif;
		}
		.page-header {
			padding: 2em;
			background: rgb(174, 168, 211);
			overflow: hidden;
		}
		.nav {
			list-style-type: none;
			margin:0;
			padding: 0;
			text-indent: none;
			float: left;
		}
		.nav li {
			display: inline-block;
			margin-right: 2em;
			height: 2em;
			height: 89px;
		}
		.nav li a {
			color: rgba(103, 65, 114, .75);
			text-decoration: none;
			line-height: 89px;
		}
		.nav li a:hover {
			color: rgba(103, 65, 114, 1.0);
		}
		.logo {
			background: url(https://camo.githubusercontent.com/cb3ea5cbb250ae59b100a5d479480ee23ba27220/687474703a2f2f626c6f67732e736d697468736f6e69616e6d61672e636f6d2f64657369676e2f66696c65732f323031332f30362f66697273742d6461696c792d706c616e6574312e6a7067);
			background-size: 100%;
			float: left;
			margin-right: 2em;
			color: rgb(102, 51, 153);
			font-family: 'Pacifico';
			font-size: 2em;
			text-shadow: 1px 1px 0 #fff;
			padding: .5em;
		}
		.content {
			padding: 2em;
		}
		.article-list {
			list-style-type: none;
			margin:0;
			padding: 0;
			text-indent: none;
		}
		.article-list li {
			background: #ddd;
			padding: 1em;
			margin-bottom: .5em;
		}
